.container {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #b4d4fc;
  margin-left: 8rem;
  text-shadow: 0.1rem 0.1rem 0.1rem gray;
}

/* 
#072434
#5c7481
#d2f3fe
#b4d4fc
#4671a3
#12345a
#0c1c2e
#000310
#111229
#303757 
*/
